@using Microsoft.AspNetCore.Identity
@using SocialNetwork.Models.Users
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<!-- Это мастер страница - общая часть всех страниц приложения. См. Razor Pages -->
<!-- Сведения о ней находятся в файле _ViewStart.cshtml -->
<html lang="en">
<head>
    <!-- Обязательные метатеги Bootstrap Begin -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Обязательные метатеги Bootstrap End -->

    <!-- Тут тащим по ключу значение для заголовка -->
    <title>@ViewData["Title"] - SocialNetwork</title> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Наши стили -->
    <link rel="stylesheet" href="~/css/main-page.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/base-styles.css" />

</head>
<body class="background-main">
    <!-- Header страницы -->
    <header class="border-bottom header background-white">
        <div class="container">
            <div class="topnav">
                <a asp-area="" asp-controller="Home" asp-action="Index" title="Возврат на главную страницу"><img src="~/pic/logo.jpg" /></a>
                <!-- Видимо здесь добавить отдельный partial с кнопкой выхода -->
                <partial name="_LogoutPartial" />
                <!-- Поле поиска -->
                <partial name="_SearchLayoutPartial" />
            </div>
        </div>
    </header>
    <!-- Main страницы -->
    <div class="container background-main">
        <main role="main" class="pb-3">
            <!-- Placeholder для "индивидуальных" страниц (представлений) приложения. Например, сюда пойдет представление index.cshtml -->
            @RenderBody()
        </main>
    </div>

    <!-- Footer страницы -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SocialNetwork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Плагины JS для Bootstrap -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Дочерняя страница не обязана иметь секцию скриптов -->
    @RenderSection("Scripts", required: false)
</body>
</html>
