@using Microsoft.AspNetCore.Identity
@using SocialNetwork.Models.Users
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="right-align">
    @if (SignInManager.IsSignedIn(User))
    {
        <button class="enter_submit" asp-area="" asp-controller="AccountManager" asp-action="Logout">Выход</button>
    }
</div>
