@using Microsoft.AspNetCore.Identity;
@using SocialNetwork.ViewModels.Account
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model StoreOfModels

@{
    //Определяем ключ-значение для заголовка (используется в _Layout.cshtml)
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img class="main-img" src="http://pngimg.com/uploads/husky/husky_PNG19.png" />
    </div>

    @* Подключение частичных представлений *@
    <div class="main">
        <partial name="Login" model="Model.LoginView" />
        <partial name="Register" model="Model.RegisterView" />
    </div>

</div>
